@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Outfit";
    scrollbar-width: none;
}

@theme {
    --color-primary: #009245;
    --color-text: #333333;
    --color-tertiary: #39B54A;
}